body {
	background: rgb(0, 200, 255); 
	
}


span { 
	color: rgb(239, 235, 255); 
	padding: 5px;
	border-radius: 3px;
    border: 1px solid black;
    display: inline-block;
} 

#input, #chat {
	width : 100%;
}

#input{
	border: none;
	border-radius: 12px;
	height: 50px;
	margin-top: 50px;
}


#bot, #user{
	padding: 20px 0px 20px;
}


#bot-response{
background-color: pink;

}

#user-response{
	background-color: lightblue;
	text-align: right;
	float : right;

}

#bot-response, #user-response{
	font-size: 25px;
	border-radius: 12px;

}
